@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 100vw;
}
/* Header */
.header-container {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/landing.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Header nav */
.header-container nav {
    position: fixed;
    z-index: 2;
    background-color: #FFF;
    padding: 10px 15px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-container nav img {
    height: 7vh;
    width: auto;
    margin-left: 2%;
}
.header-container nav .main-menu {
    list-style: none;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}
.main-menu li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1A1A1A;
}
/* Playing with transitions */
.main-menu li:hover {
    background-color: #1A1A1A;
    padding: 1px;
    border-radius: 5px;
    transition-property: padding, background-color, border-radius;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    
}
.main-menu li a:hover {
    color: #FFF;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
/* Header Title */
.header-container .header {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.header-container .header h1 {
    font-size: 4rem;
    width: 100%;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}
.header-container .header h2 {
    font-size: 1.7rem;
    font-weight: lighter;
    color: #FFF;
    text-align: center;
}
/* Section 2: Whats's on spoti */
.what-on-spotify {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.what-on-spotify h2 {
    color: #1A1A1A;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1%;
    border-bottom: 3px solid #00B172;
}
.what-on-spotify .features-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
}
.what-on-spotify .features-container .feature {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.what-on-spotify .features-container .feature > img {
    height: auto;
    width: 30%;
}
.what-on-spotify .features-container .feature > h3 {
    font-size: 1.2rem;
    margin-bottom: 5%;
    font-weight: 700;
    color: #00B172;
    text-align: center;
}
.what-on-spotify .features-container .feature > p {
    color: #1A1A1A;
    width: 70%;
    text-align: center;
}
/* Section 3: Kayne West */
.kanye-west {
    margin: 0 3%;
    height: 70vh;
    background-color: #00B172;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kanye-west .text-container {
    width: 40%;
    color: #FFF;
    padding: 30px 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
.kanye-west .text-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1%;
    border-bottom: 3px solid #FFF;
}
.kanye-west .text-container h3 {
    font-size: 1.2rem;
}
.kanye-west .text-container p {
    font-weight: lighter;
    width: 60%;
}
.kanye-west #spoti-screenshot {
    height: 80%;
    padding: 30px 5%;
    z-index: 1;
}
.kanye-west #white-icon {
    height: 80px;
    position: absolute;
    left: 40%;
    z-index: 0;
}
footer {
    display: none;
}
/* Media querys for mobile */
@media (max-width: 600px){
    .header-container nav .main-menu {
        display: none;
    }
    .what-on-spotify .features-container {
        flex-direction: column;
        align-items: center;
    }
    .what-on-spotify .features-container article.feature {
        width: 100%;
        margin: 5% 0;
    }
    .kanye-west {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .kanye-west .text-container {
        width: 90%;
        align-items: center;
    }
    .kanye-west .text-container p {
        font-weight: lighter;
        width: 90%;
        text-align: center;
    }
    .kanye-west #spoti-screenshot {
        width: 90%;
        padding: 0;
        margin-bottom: 10%;
    }
    .kanye-west #white-icon {
        display: none;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 5%;
        width: 100%;
        height: 10vh;
        background-color: #1A1A1A;
    }
    footer img {
        height: 80%;
    }
    footer p {
        color: #FFF;
        font-weight: bold;
        font-size: 1.2rem;
    }
} 
/* Media querys for mobile 
@media (max-width: 600px) {
    .what-on-spotify .features-container {
        padding: 0 1%;
    }
    .what-on-spotify .features-container .feature > img {
        height: auto;
        width: 60%;
    }
    .kanye-west {
        height: 60vh;
    }
    .kanye-west .text-container {
        width: 70%;
        padding: 15px 5px;
    }
    .kanye-west .text-container p {
        width: 90%;
    }
    .kanye-west img {
        height: 40%;
        padding: 30px 5%;
    }
}
*/